.FeaturesParentCont{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 92.44vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.8vh;
}

.FeaturesSubCont{
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.FeaturesSubCont.Bot{
    align-items: flex-end;
}

.FeaturesSubCont.Top{
    align-items: flex-start;
}

.FeaturesSubCont.Bottom{
    align-items: flex-end;
}

.FeaturesGifCont{
    height: 45vh;
    min-width: 37%;
    display: flex;
    justify-content: center;
}

.FeaturesGifCont.Top{
    align-items: flex-start;
}

.FeaturesGifCont.Top.BottomLeft{
    height: 46vh;
}

.FeaturesGifCont.Bot{
    align-items: flex-end;
}

.FeaturesGifCont.Bot.TopRight{
    height: 47vh;
}

.FeaturesGif{
    width: 670px;
    height: 324px;
    border: solid 3px black;
    border-radius: 15px;
}

.FeatureParentTextCont{
    height: 45.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.FeatureParentTextCont.Bot{
    margin-bottom: 1vh;
}

.FeaturesTextCont{
    height: 20vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.FeaturesTextCont.Left{
    text-align: start;
    align-items: flex-start;
    justify-content: flex-start;
}

.FeaturesTextCont.Right{
    text-align: end;
    align-items: flex-end;
    justify-content: flex-end;
}

.FeaturesTitle{
    font-size: 2.1875vw;
    font-family: 'Open Sans';
    color: white;
    text-decoration: underline;
}

.FeaturesText{
    font-size: 1.1vw;
    font-family: 'Open Sans';
    color: white;
}
