
.systemCard__cont{
    background-color: lightcyan;
    min-height: calc(100vh - 50px - 45px);
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    border-radius: 10px;
    border: 1px solid black
}

.systemCard__cont__title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 32px;
}
