.HomeParentCont{
    width: 100%;
}


.systemCard__cont{
    background-color: #E5E5E5;
    min-height: calc(100vh - 50px - 45px);
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    min-width: 20%;
    border-radius: 10px;
    border: 15px double #FCA311
}

.systemCard__cont__title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 32px;
}
