.AboutPageCont {
  display: flex;
  flex-direction: row;
  min-height: 6.4034151547492vh;
  margin-top: 1.6%;
  min-width: 60%;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 2;
  background-color: white;
  border-radius: 5px;
}

.AboutName {
  font-size: 3rem;
  font-family: Staatliches;
  color: black;
}

.AboutLink {
  font-size: 3rem;
  font-family: Staatliches;
  cursor: pointer;
  text-decoration: underline;
  color: #0645ad;
}

.AboutCanvas {
  min-width: 100%;
  min-height: 94.77054429028816vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
}

.AboutPageParent {
  min-width: 100%;
  display: flex;
  justify-content: center;
}
