.PageParentLogInSignUpForm {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 800px;
  align-items: center;
}

.ParentFormCont {
  background-color: #e5e5e5;
  max-width: 28%;
  min-width: 28%;
  max-height: 800px;
  border: 15px double #fca311;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
}

.ParentSwitchButtonCont {
  min-height: 100px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  border-radius: 50px;
}

.ParentSwitchButtonContLeft {
  width: 175px;
  height: 100px;
  background-color: #14213d;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ParentSwitchButtonContRight {
  width: 175px;
  height: 100px;
  background-color: #14213d;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid gray;
  cursor: pointer;
}

.ParentSwitchButtonContLeft.active {
  border-bottom: 3px solid #fca311;
}

.ParentSwitchButtonContRight.active {
  border-bottom: 3px solid #fca311;
}

.ParentSwitchButton {
  font-family: Staatliches;
  font-size: 46px;
  margin-right: 20px;
  margin-left: 20px;
  color: white;
  cursor: pointer;
}

.ParentSwitchButton:hover {
  color: #fca311;
}

.ParentSwitchButton.active {
  color: #fca311;
}

.FormCont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 600px;
  align-items: center;
  width: 100%;
}

.FormLabel {
  color: black;
  font-family: "Open Sans";
  font-size: 20px;
  max-width: 90%;
}

.FormInput {
  margin-left: 15px;
  font-size: 20px;
  font-family: "Open Sans";
  border-radius: 5px;
}

.FormButton {
  font-size: 28px;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  text-decoration: none;
  font-family: "Open Sans";
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.FormErrors {
  font-size: 20px;
  font-family: "Open Sans";
  color: red;
  max-width: 80%;
  text-align: center;
}
