.LogInFormLabel{
    color: #E5E5E5;
    font-family: 'Open Sans';
    font-size: 20px;
    margin-left: 10px;
}

.LogInForm{
    display: flex;
    align-items: center;
    min-width: 100%;
    justify-content: center;
}

.LogInFormInput{
    margin-left: 5px;
    font-size: 20px;
    font-family: 'Open Sans';
    border-radius: 5px;
}

.LogInFormButton {
    font-size: 20px;
    font-family: 'Open Sans';
    border-radius: 5px;
    margin-left: 10px;
}

.LogInFormErrors{
    font-size: 20px;
    font-family: 'Open Sans';
    color: red;
    max-width: 20%;
    text-align: center;
}
