.MapPageParentCont{
    width: 100%;
    display: flex;
}

.MapCanvas {
    max-width: 43.5%;
    min-height: calc(100vh - 50px - 145px);
    background-color: black;
}


.mapform__cont{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 50px - 45px);
    justify-content: space-evenly;
    align-items: center;
}
