/* TODO Add site wide styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


.card {
  background-color: #14213d;
  max-width: 94%;
  min-width: 94%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 36px;
  color: #e5e5e5;
}

.card:hover {
  color: #fca311;
}

body {
  background-color: #14213d;
  margin: 0px;
}

.mapcanvas {
  max-width: 100%;
  min-height: 800px;
  background-color: #045676;
  border-radius: 5px;
}

.CanvasCont {
  min-width: 50%;
  display: flex;
  background-color: #fca311;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0px 0px 3px black;
  min-height: 84%;
  padding: 0.5%;
  margin: 0.5%;
}

.PageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 840px;
  position: relative;
}

.BackgroundImage {
  height: 1080px;
  width: 1920px;
  position: fixed;
  top: 0em;
  left: 0.03em;
  z-index: -1;
}

.LoadingText {
  font-family: Staatliches;
  font-size: 500px;
  text-align: center;
}

.LoadingTextCont {
  min-height: calc(100vh - 50px - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5px;
}

.gif{
  max-width: 1274.66666667px;
  max-height: 615.333333333;
  border: 2px solid black;
  border-radius: 5px;
}
