/* TODO Add site wide styles */

.card {
    background-color: pink;
    min-width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
}

body{
    background-color: #14213D;
    margin: 0px;
}

.mapcanvas {
    max-width: 43.5%;
    min-height: calc(100vh - 50px - 40px);
    background-color: #14213D;
}

.PageContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
