/* TODO Add site wide styles */

.card {
    background-color: pink;
    min-width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
}
