.NavCont {
  background-color: #14213D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #FCA311;
  border-radius: 5px;
  margin: 5px;
  position: relative;
  z-index: 2;
}

.NaveLinkParent{
  width: 100%;
  display: flex;
  
}

.NavLinkParentCont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60.8%;
}

.NavLink{
  color: #E5E5E5;
  text-decoration: none;
  cursor: pointer;
  font-family: Staatliches;
  font-size: 2.3em;
}

.NavLink.UnderConstruction:hover {
  color: gray;
}

.NavLink:hover{
  color: #FCA311;
}

.NavLinkCont{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  border-right: 2px solid gray;
  padding-right: 3.45vw;
  padding-left: 3.125vw;
}

.NavLinkCont.Features{
  border-left: 2px solid gray;
  padding-left: 3.125vw;
}


.HomeLink {
  font-size: 2.813rem;
  text-decoration: none;
  color: #E5E5E5;
  margin-left: 1.3vw;
  margin-right: 3.45vw;
  font-family: Staatliches;
}

.HomeLink:hover{
  color: #FCA311;
}

.LogOutSignUpButton {
  margin-right: 2.08vw;
  font-size: 1.5rem;
  color: black;
  background-color: #E5E5E5;
  border-radius: 5px;
  border: 1px solid gray;
  text-decoration: none;
  font-family: 'Open Sans';
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.HomeLinkCont {
  min-width: 18%;
}

.LogOutSignUpButtonCont {
  display: flex;
  min-width: 18%;
  justify-content: flex-end;
}

.WelcomeText {
  font-size: 1.875rem;
  font-family: Cairo;
  color: lightgreen;
  overflow: hidden;
  border-right: 0.15em solid lightgreen;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: lightgreen;
  }
}

.LogInFormCont{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 64%;
}
